<h1>{{backlog.name}}</h1>
<table id="backlog_stories" class="ui-widget ui-widget-content">
	<thead>
		<tr class="ui-widget-header ">
			<th>Name</th>
			<th>Story points</th>
			<th>Importance</th>
		</tr>
	</thead>
	<tbody>
{% for story in backlog.ordered_stories %}
		<tr>
			<td>{{ story.name }}</td>
			<td>{{ story.estimated_points }}</td>
			<td>{{ story.importance }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

