<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Scrummetize Me!</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" media="screen">
	</head>
<body>
	<div id="wrapper">
		<div id="logo">
			<h1>Scrummetize Me!</h1>
			<p><em> scrummetizing your world</em></p>
		</div>
		<hr>
		<!-- end #logo -->
		<div id="header">
			<div id="menu">
				<ul><li class="current_page_item"><a href="#" class="first">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Support</a></li>
					<li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<!-- end #menu -->
			<div id="search">
				<form method="get" action="">
					<fieldset>
						<input type="text" name="s" id="search-text" size="15"><input type="submit" id="search-submit" value="GO">
					</fieldset>
				</form>
			</div>
			<!-- end #search -->
		</div>
		<!-- end #header -->
	</div>
	<!-- end #header-wrapper -->
	<div id="page">
		<div id="page-bgtop">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Welcome to OUR SITE</a>				</h2>
					<div class="entry">
						<p>Thank you for downloading this template. This or any other template  is  free for personal use, but you must leave our link on this page.	</p>
						<p>Here you will find help about editing our templates and empty buttons and logos for editing: </p>
		<p><a href="http://www.rickyswebtemplates.com/members/login.php">http://www.rickyswebtemplates.com/members/login.php</a>.</p>
						<p> We have created user guide with step by step instructions.</p>
						<p>If you don't know how to edit our free templates, or you don't have time we can do  that for you. For only $30 USD  we will edit logo, buttons and create few pages the way you like it. You only have to put your text  in it and your web page  is done.</p>
						<p>For more informations, contact us : webmaster@rickyswebtemplates.com</p>
						<p>For more FREE web templates and other graphics visit our site: </p>
						<p><a href="http://www.rickyswebtemplates.com">http://www.rickyswebtemplates.com</a></p>
	                </div>
				</div>
				<div class="post">
			  		<h2 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
			  		<p class="meta">Monday, January 26, 2010 00:00 AM Posted by <a href="#">Your name</a></p>
					<div class="entry">
				  		<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
			  		</div>
				</div>
			</div>
			<!-- end #content -->
		<div id="sidebar">
			<ul><li>
					<h2>Latest news</h2>
					<p>Thank you for downloading this template. This or any other template  is  free for personal use, but you must leave our link on this page. </p>
				</li>
				<li>
					<h2>Partners</h2>
					<ul><li><a href="#">Some link here</a></li>
						<li><a href="#">Some link here</a></li>
						<li><a href="#">Some link here</a></li>
						<li><a href="#">Some link here</a></li>
						<li><a href="#">Some link here</a></li>
					</ul></li>
			</ul></div>
		<!-- end #sidebar -->
		<div style="clear: both;"> </div>
	</div>
	</div>
	<!-- end #page -->
	<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright  2012 ScrummetizeMe.com. All rights reserved. <!--%@##--> Design provided by <a href="http://www.freewebtemplates.com/">Free Website Templates</a>.<!--##@%--></p>
<p>Find more free web templates at  <a href="http://www.rickyswebtemplates.com/" target="_blank">Free web templates</a>, <a href="http://www.webtemplates-download.com/" target="_blank">Free web layouts</a>, <a href="http://www.onlyfreewebtemplates.net/" target="_blank">Free css website templates</a></p>
	</div>
	</div>
	<!-- end #footer -->
</div>
</body></html>
