<h1>New Story for the product {{product_id}}</h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<form action="../add_story/" method="post">
	{% csrf_token %}
	Name: <input type="text" name="name" id="name"/><br/>
	Description: <textarea name="description" id="description"/></textarea><br/>
	Story points: <input type="text" name="points" id="points"/><br/>
	<input type="submit" value="Add"/>
</form>

