<table id="product_list" class="ui-widget ui-widget-content">
	<thead>
		<tr class="ui-widget-header ">
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
{% for product in products %}
		<tr>
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

