<h1>Story</h1>
{% if story %}
    <p>Name: {{ story.name }}</p>
    <p>Points: {{story.points}}</p>
    <ul>
        {% for task in story.task_set.all %}
            {{task.name}}
        {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}
